<link rel="stylesheet" type="text/css"  href="../css/styles.css">
<div class="right col-md-8">
  <div class="board">
    <div class="content">
      <div class="title-head">
         <h1><%= data.title %></h1>
         <h4><%= data.subtitle %></h4>
      </div>
      <br><br>
      <%- data.content %>
      <p class="date"><%= data.date.toString().substring(0, 15) %></p><br>
      <% if(auth){ %>
      <p class="cread"><a href="/edit/<%= data._id %>">Edit &gt;</a></p>
      <p class="cread"><a href="/delete/<%= data._id %>">Delete &gt;</a></p>
      <% } %>
    </div>
  </div>    
</div>